body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #008000;
    font-family: 'Lucida Sans';
    overflow: hidden;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#footer {
    height: 85px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
}

.container {
    padding: 0;
    margin: 0;
}

#plus-sign {
    float: left;
}

.clearfix {
  overflow: auto;
}

.bet {
    font-size: 2em;
    font-weight: bold;
}

#hit {
    margin-left: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

#stand {
    margin-left: 25px;
}


#overlay {
    display: none;
    background-color: rgba(0,0,0,0.45);
    position: fixed;
    vertical-align: middle;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: #000;*/
    /*filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;*/
    z-index: 1000;
}

.message {
  color: #fff;
  opacity: 1;
  padding: 25% 25% 25% 25%;
  font-size: 5em;
}

#place-bet, #bank-word {
    margin-left: 75px;

}

#stacker {
    display: inline-block;
    margin-left: 50px;
}

#stacker-2 {
    display: inline-block;
    margin-left: 50px;
}

#stacker-3 {
    display: inline-block;
    margin-left: 50px;
}

#adjust {
    font-weight: bold;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    /*color: #e9e9e9;*/
}

#adjust-2 {
    font-weight: bold;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    /*color: #e9e9e9;*/
}

#adjust-3 {
    font-weight: bold;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    /*color: #e9e9e9;*/
}

.grayed {
  opacity: 0.3;
}

#hidden-form {
    width: 35%;
    display: none;
    margin: auto;
    margin-top: 10%;
    color: #000;

    background-color: #B5B5B5;

    border-radius: 2%;
    width: 460px;
    padding: 10px 30px 20px 30px;
    overflow: auto;
}

#hidden-form-register{
    /*position: absolute;
    top: 50%;
    left: 50%;
    z-index: 15;*/

    width: 35%;
    margin: auto;
    margin-top: 10%;
    color: #000;

    background-color: #B5B5B5;

    border-radius: 2%;
    width: 460px;
    padding: 10px 30px 20px 30px;
    overflow: auto;
}

#hidden-form-login {
    width: 35%;
    display: none;
    margin: 10%  auto;
    color: #000;

    background-color: #B5B5B5;

    border-radius: 2%;
    width: 460px;
    padding: 10px 30px 20px 30px;
    overflow: auto;
}

.auth {
    color: #000;
    position: relative;
    /*display: block;*/
    line-height: 20px;

    cursor: pointer;
    font-weight: 500;
    font-family: 'Lucida Sans';
}

.navbar-default .navbar-nav>li>a {
    color: #000;
    position: relative;
    /*display: block;*/
    line-height: 20px;
    padding: 15px;
    cursor: pointer;
    font-weight: 500;
    font-family: 'Lucida Sans';

}


#add-twenty-five, #minus-twenty-five{
    width: 47%;    
    font-size: 18px;
   
}

#bank-roll {
    font-size: 18px;
    width: 100%;
    font-weight:600 ;
     background-color: #efefef;
}

#bank-roll:hover {
    cursor: default;
    background-color: #efefef;
    border-color: rgb(204, 204, 204);
}

#bet-holder {
    font-size: 18px;
    width: 100%;
    font-weight:600 ;
    background-color: #efefef;

}


#bet-holder:hover {
    cursor: default;
    background-color: #efefef;
    border-color: rgb(204, 204, 204);
}

#big-button-wrapper {
    display: inline-block;
    /*margin-top: -100px;*/
}

#main-title {
    color: #e5e5e5;
    font-family: Arial;
    /*font-weight: 900;*/
    font-size: 30px;
    margin-left: 20px;
    margin-top: 10px;
}

#logo {
    margin: 10px;
    width:  250px;
    height: auto;
}

/*.card {
    margin-top: 10px;
}*/
.auth-access {
    color: #000;
    font-weight: 500;
    font-family: 'Lucida Sans';
    padding: 15px;
}

.auth-access:hover{
    color: #008000;

}


.card {
  margin-top: 10px;
  animation-duration: 0.25s;
  animation-name: slidein;
  overflow: hidden;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 35%; 
  }

  to {
    margin-left: 0%;
    width: 15%;
  }
}


#log-off {
    color: #000;
    position: relative;
    line-height: 20px;
    padding: 15px;
    cursor: pointer;
    font-weight: 500;
    font-family: 'Lucida Sans';
}

#hello {
    color: #000;
    position: relative;
    line-height: 20px;
    padding: 15px;
    cursor: pointer;
    font-weight: 500;
    font-family: 'Lucida Sans';

}

#nav-conatiner {
    margin-left: 0;
}

#logoutForm {
    padding: 0;

} 

#home-link {
    margin-right: 15px;

}


.navbar-default .navbar-nav > li > a {
    color: #000;
}

@media (max-width: 325px) {
    #stacker-3 {
        margin-left: 0;
    }

}

@media (max-width: 420px) {

    #stacker-2 {
        margin-top: 5px;
        display: block;
    
    }
    .grayed {
        display: none;
    }
    
    .no-display {
    display: none;
    }

    #big-button-wrapper {
        width: 100%;
        display: block;
        
    }

    #place-bet {
        width: 100%;
        color: #fff;
        margin:0;
    }

    #hit, #stand {
        width: 47%;
        margin: 0;
    }

    #adjust-2 {
        
        display: inline;
        margin: 0;
        /*margin-top: 28px;*/
        width: 47%;
    }

    /*#stacker-2 {
        margin-left:0;
        display: inline-block;
    }*/

    #bank-roll {
        display: inline-block;
        width: 30%;
        margin-left: 60px;
    }

    .card {
        max-width: 90px;
        height: auto;
    }

    #footer {
        height: 200px;
        /*clear: both;*/
    }
    /*hide small bank elements when hit/stand area not grayed. Add / remove classes in js file*/
}